header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#myButton {
 display: none;
}
ul.menuLinks li a {
    padding: .4rem 1rem;
}
ul.menuLinks, ul.menuLinks.open {
    display: flex;
    justify-content: flex-end;
}
ul.menuLinks a:hover {
    background-color: $secondaryColor;
}

.allcards {
    
   
    
    section {
        flex-basis: calc(33.333% - (($gutter*2)/3));

    }
}

footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    }