/* NAVIGATION STUFF GOES HERE  */

#primaryNav ul {
    width: 200px;
    right: 0;
    

}





.hero {
    
    div {
      
        bottom: 20px; 
        left: 20px;

        width: 20%;
        h3{
            font-size: 1.2rem;
        }
    }
}






.allcards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter/2));

    }
}
.logos {
    flex-basis: calc(33.33% - ($gutter/3));
}

footer .ady {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $gutter;
    text-align: left;
 }