/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: none;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem 5px;
    span {
        font-size: 2rem;
        font-weight: $defaultFont;
        color: $primaryColor;
    }
    
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#primaryNav button::before {
    content: "\2630";
}

#primaryNav button {
    border: none;
    background: none;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height:44px;
    cursor: pointer;
}
#primaryNav{
    margin: 0;
}

#primaryNav ul {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    background-color: #f7f7f7;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-align: right;
    display: none;
    z-index: 2;
li a {
    color: $secondaryColor;
    display: block;
    padding: .75rem 5px;
    text-decoration: none;
    border-bottom: .5px solid #9a9a9a;
}
li.active a {
    color: $primaryColor; 
}
}//end of ul

//open class


#primaryNav ul.open {
    display: block;
    z-index: 2;
}


/* --------------------------- MAIN --------------------------- */
main {


    h1 {
        padding: 1rem $gutter 0 $gutter;
        font-size: 3rem;
        color: $secondaryColor;
        font-weight: $defaultFont;
        text-align: center;
        margin: 0;
    }
    h2{
        padding: 1rem $gutter.1rem $gutter;
        margin-bottom: 0;
        font-size: 2.1rem; 
        color: $secondaryColor;
        text-align: center;
        font-weight: $defaultFont;

    }
    h3{
        color: $primaryColor;
        text-align:center;
        font-weight: 400;
        font-size: 1rem;
        padding: 0;

    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main


.hero {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
video { 
    
    width: 100%;
    height: auto;
    }
    div {
        position: absolute;
        margin: 0;
        padding: 0 5px 0 10px;
        bottom: 20px; 
        right: 20px;
        background:  rgba(226, 226, 226, 0.78);
        border-radius: 10px;
        width: 35%;
       
    }
h3 {
   margin: 10px 0 20px 0;
    color: $secondaryColor;
    text-align: left;
}
hr{
margin: -2px;
width: 75%;
border-color: $accentColor;
border-top: 4px solid $accentColor;
border-radius: 4px;

}
}




.allcards {
    padding: 0 $gutter;
    section {
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        overflow: hidden;
        margin: 1rem 0;
        background-color: #f7f7f7;
        h2, p {
            margin: 0;
            padding: 1rem $gutter;
        }
        h2 {
            background-color: $primaryColor;
            font-size: 1.5rem;
            text-align: center;
            color: #fff;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        ul{
            margin:16px 0px;
         li {
            font-style: italic;
            margin: 0px;
            
         }   
        
        li::marker {
           color: $primaryColor;
           margin: 0;
        }
    }
    }
}//all card

.logos {
    display: flex;
    flex-wrap: wrap; 
    gap: 35px; 
    justify-content: center; 
    flex-basis: calc(50% - ($gutter/2));
    margin:$gutter;
}

.logos img {
    margin: 0; 
    width: 120px; 
    max-width: 100%; 
    height: auto; 
    
}


/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: #000000;
    text-align: center;
    
}
footer{
    padding: 0.5rem $gutter;
    justify-content: center;
    align-self: center;

    h2 a{
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
    
       
    }
    .ady{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: $gutter;
        text-align: left;
        border-bottom: .4px dashed #9a9a9a;
        padding: 10px 0;
       
        
    h3 {
        color: #aaa;
        margin-bottom: 5px; 
    }
    p {
        color:#f7f7f7;
        margin: 0;
    }
}

  p {
    color:white;

} 

    

} // end footer 

