/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
nav {
    background-color: $primaryColor;
}
#myButton::before {
    content: "\2630";
}
#myButton {
    border: none;
    background: none;
    color: #fff;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height: 44px;
    font-weight: $lightWeight;
    cursor: pointer;
}
ul.menuLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
   display: none;
    li a {
        color:#fff;
        display: block;
        padding: .75rem $gutter;
       text-decoration: none;
    }
    li.active a {
        color: $primaryColor;
        background-color: $secondaryColor;
    
    }
}

ul.open.menuLinks {
    display: block;
}
#myButton.open::before {
    content: "x";
}












/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main

.allcards {
    padding: 0 $gutter;
    section {
        border: 1px solid #9c9c9c;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;
        }
        h2 {
            background-color: $secondaryColor;
            font-size: 1.5rem;
            text-align: center;
            color: $primaryColor;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        
        p {
           font-style: italic;
        }
        a {
            display: block;
            background-color: $accentColor;
            padding: .75rem;
            text-align: center;
            margin: 0 3rem 1rem 3rem;
            border-radius: 8px;
            color: $greyColor;
            font-weight: 800;
            text-decoration: none;
        }
    }
}//all card





/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor;
}
footer{
    padding: 0.5rem $gutter;
   

    .conatact {
        p {font-size: 1.2rem; 
            margin: .5rem; 
            color: $greyColor;
            a {
                color: $greyColor;

            }
        }
        ion-icon{color: $greyColor; padding-right: 5px;}
    } //end of contact
    .social {
        display: flex;
        justify-content: center;
        a {
            display: block;
            font-size: 2rem;
            margin: .5rem;
            padding: .5rem;
            color: $greyColor;
        }
        a:hover{
            color:#9c9c9c
        }
    }
    .location {
        font-size: 1rem;
        color: $greyColor;
    }

    p.legal {
        margin: 0;
        font-weight:$lightWeight;
        text-align: center;
        font-size: 1rem;
        color: $greyColor;
        a {
            color: $greyColor
        }
    }

} // end footer 

