$primaryColor: #9b194f; 
$secondaryColor: #0e0147;
$accentColor: #d96a5a;
$greyColor: #ecede1;

$defaultFont: "Open Sans", sans-serif;;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 20px;