$primaryColor: #521e05; 
$secondaryColor: #f5e3a9;
$accentColor: #364d14;
$greyColor: #ecede1;

$defaultFont: "Open Sans", sans-serif;;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;